# a host definition for the gateway of the default route

# $USER8$=admin:password

define host {
        host_name   MyConnectedSite.COM
        alias       MyConnectedSite.COM
        address     MyConnectedSite.COM
        use         generic-host
        contact_groups admins
        max_check_attempts 5
        }

define service {
       use generic-service
       host_name MyConnectedSite.COM
       service_description  DNS
       check_command        checkdns!44.233.201.52
       }


define service {
      use     generic-service
      host_name   MyConnectedSite.COM
      service_description HTTPS
      check_command            check_https
      }


define service {
       use     generic-service
       host_name    MyConnectedSite.COM
       service_description  HTTP
       check_command        check_http
       }

define service {
       use     generic-service
       host_name        MyConnectedSite.COM
       service_description      FTP
       check_command            check_ftp
       }
